<main class="py-3 px-2">
  <section>
    <div class="my-5">
      <h1 class="dark:text-gray-300 mb-4 text-4xl font-semibold px-2">
        Categories
      </h1>
      <owl-carousel-o [options]="categoryOptions" class="px-2">
        @for (item of categoryList; track item._id) {
          <ng-template carouselSlide class="cursor-pointer">
            <div
              class="mx-3 max-md:gap-1 cursor-pointer"
              (click)="filterProductsCategory(item._id)"
            >
              <img class="w-100 car-img" [src]="item.image" [alt]="item.name" />
            </div>
            <h2 class="my-2 text-center font-medium dark:text-gray-400 text-xl">
              {{ item.name }}
            </h2>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </section>
  <section>
    <div class="my-5">
      <h1 class="dark:text-gray-300 mb-4 text-4xl font-semibold px-2">
        Brands
      </h1>
      <owl-carousel-o [options]="brandOptions" class="px-2">
        @for (item of brandsList; track item._id) {
          <ng-template carouselSlide class="cursor-pointer">
            <div class="cursor-pointer" (click)="filterProductsBrand(item._id)">
              <img class="w-100 mx-2" [src]="item.image" [alt]="item.name" />
            </div>
            <h2 class="my-2 text-center font-medium dark:text-gray-400 text-xl">
              {{ item.name }}
            </h2>
          </ng-template>
        }
      </owl-carousel-o>
    </div>
  </section>

  <section>
    <div class="flex items-center justify-between">
      <h1 class="dark:text-gray-300 text-4xl font-semibold px-2">Products</h1>
      <button
        (click)="allProducts()"
        class="md:me-3 px-3 py-2 dark:text-white dark:bg-indigo-800 dark:hover:bg-indigo-900 bg-indigo-400 hover:bg-indigo-500 duration-300 text-center cursor-pointer rounded-full"
      >
        All Products
      </button>
    </div>
    <section class="mb-10 mt-5">
      <div class="flex items-center justify-center">
        <div class="w-full max-w-lg mx-auto rounded-full shadow-xl">
          <input
            class="block w-full border-2 shadow-none focus:shadow-none border-gray-300 dark:border-gray-600 bg-transparent text-base text-gray-700 dark:text-white placeholder:text-gray-400 sm:text-sm sm:leading-6 rounded-full"
            placeholder="Find anything..."
            type="search"
            [(ngModel)]="searchText"
          />
        </div>
      </div>
    </section>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-5 px-2 my-5"
    >
      @for (product of productsList | search: searchText; track product.id) {
        <div
          class="card bg-[#edf2f7] dark:bg-[#111827] py-4 px-3 rounded-lg border border-[#bee2ff] dark:border-none hover:scale-[1.02] ease-in duration-300"
        >
          <div class="upper mb-2 relative">
            @if (product.quantity == 0) {
              <span
                class="bg-red-700 text-white text-xs px-2 py-1 rounded-lg absolute top-0 start-0"
                >Out Of Stock</span
              >
            } @else if (product.quantity > 50) {
              <span
                class="bg-green-700 text-white text-xs px-2 py-1 rounded-lg absolute top-0 start-0"
                >in Stock</span
              >
            } @else if (product.quantity < 50) {
              <span
                class="bg-yellow-500 text-white text-xs px-2 py-1 rounded-lg absolute top-0 start-0"
                >Limited</span
              >
            }
            <button
              (click)="addToWishList(product.id)"
              class="absolute top-0 end-0 transition ease-in duration-300 bg-gray-200 dark:bg-gray-800 hover:text-purple-700 shadow hover:shadow-md dark:text-purple-500 rounded-full w-8 h-8 text-center p-1"
            >
              @if (
                isLoadingWishlist && productWishlistClickedId == product.id
              ) {
                <i class="fa-solid fa-spinner fa-spin"></i>
              } @else {
                <i
                  class="fa-heart"
                  [ngClass]="{
                    'fa-solid': wishlistProducts.includes(product.id),
                    'fa-regular': !wishlistProducts.includes(product.id),
                  }"
                ></i>
              }
            </button>
            <div
              class="img cursor-pointer"
              [routerLink]="['/details', product.id]"
            >
              <img
                class="w-full rounded-lg"
                [src]="product.imageCover"
                [alt]="product.title"
              />
            </div>
          </div>
          <div
            class="body cursor-pointer"
            [routerLink]="['/details', product.id]"
          >
            <div class="rating">
              <i
                class="fa-solid fa-star text-[#ffc908] dark:text-red-500 mr-1"
              ></i>
              <span class="text-gray-500">{{ product.ratingsAverage }}</span>
              <span class="text-gray-500">({{ product.ratingsQuantity }})</span>
            </div>
            <div class="info dark:text-gray-400 my-2">
              <h2 class="text-xl text-indigo-500 mb-1">
                {{ product.category.name }}
              </h2>
              <h3 class="text-lg truncate">
                {{ product.title }}
              </h3>
              <h4 class="font-semibold mt-1">
                {{ product.price | currency: "GBP" }}
              </h4>
            </div>
          </div>
          <div class="footer">
            @if (isLoadingCart && product.id == productCartClickedId) {
              <button
                type="button"
                class="my-3 transition cursor-not-allowed ease-in duration-300 flex items-center text-sm font-medium mb-2 md:mb-0 bg-[#bfe2fe] dark:bg-purple-500 px-5 py-2 hover:shadow-lg tracking-wider dark:text-white rounded-full"
                [disabled]="isLoadingCart"
              >
                <i class="fa-solid fa-circle-notch fa-spin"></i>
                <span class="ml-2"> Processing... </span>
              </button>
            } @else {
              <button
                (click)="addToCart(product.id)"
                class="my-3 transition ease-in duration-300 flex items-center text-sm font-medium mb-2 md:mb-0 bg-[#bfe2fe] dark:bg-purple-500 px-5 py-2 hover:shadow-lg tracking-wider dark:text-white rounded-full dark:hover:bg-purple-600"
              >
                <span>Add To Cart</span>
              </button>
            }
          </div>
        </div>
      } @empty {
        <div class="h-[50vh] w-full content-center items-center">
          <h2 class="text-4xl dark:text-gray-300 text-red-900">No products</h2>
        </div>
      }
    </div>
  </section>
</main>
