<footer class="bg-gradient-to-r from-gray-100 via-[#bce1ff] to-gray-100 dark:bggradient-to-r dark:from-indigo-950 dark:via-indigo-900 dark:to-indigo-950 dark:text-indigo-400">
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
         <h1 class="text-indigo-900 dark:text-gray-300 text-3xl font-bold">Paranoia</h1>
          <p class="max-w-xs mt-4 text-sm text-gray-600 dark:text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.
          </p>
          <div class="flex mt-8 space-x-6 text-gray-600 dark:text-gray-400">
            <a class="hover:opacity-75  cursor-pointer"  >
             <i class="fa-brands fa-facebook"></i>
            </a>
            <a class="hover:opacity-75 cursor-pointer"  >
             <i class="fa-brands fa-twitter"></i>
              
            </a>
            <a class="hover:opacity-75 cursor-pointer"  >
                <i class="fa-brands fa-instagram"></i>
             
            </a>
            <a class="hover:opacity-75 cursor-pointer"  >
             <i class="fa-brands fa-github"></i>
              
            </a>
            <a class="hover:opacity-75 cursor-pointer"  >
             <i class="fa-brands fa-linkedin"></i>
              
            </a>
            <a class="hover:opacity-75 cursor-pointer"  >
             <i class="fa-brands fa-x-twitter"></i>
              
            </a>
          </div>
          <form class="  flex items-center space-x-2 mt-2"> 
            <input type="email"  aria-describedby="helper-text-explanation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="email@gmail.com">
            <button type="button" class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br  outline-none  dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Subscribe</button>
          </form>
        </div>
        <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
          <div>
            <p class="font-medium">
              Company
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500 dark:text-gray-400">
              <a class="hover:opacity-75 cursor-pointer" > About </a>
              <a class="hover:opacity-75 cursor-pointer" > Meet the Team </a>
              <a class="hover:opacity-75 cursor-pointer" > History </a>
              <a class="hover:opacity-75 cursor-pointer" > Careers </a>
            </nav>
          </div>
          <div>
            <p class="font-medium">
              Services
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500 dark:text-gray-400">
              <a class="hover:opacity-75 cursor-pointer" > Company Review </a>
              <a class="hover:opacity-75 cursor-pointer" > Accounts Review </a>
              <a class="hover:opacity-75 cursor-pointer" > HR Consulting </a>
              <a class="hover:opacity-75 cursor-pointer" > SEO Optimization </a>
            </nav>
          </div>
          <div>
            <p class="font-medium">
              Helpful Links
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500 dark:text-gray-400">
              <a class="hover:opacity-75 cursor-pointer" > Contact </a>
              <a class="hover:opacity-75 cursor-pointer" > FAQs </a>
              <a class="hover:opacity-75 cursor-pointer" > Live Chat </a>
            </nav>
          </div>
          <div>
            <p class="font-medium">
              Legal
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500 dark:text-gray-400">
              <a class="hover:opacity-75 cursor-pointer" > Privacy Policy </a>
              <a class="hover:opacity-75 cursor-pointer" > Terms &amp; Conditions </a>
              <a class="hover:opacity-75 cursor-pointer" > Returns Policy </a>
              <a class="hover:opacity-75 cursor-pointer" > Accessibility </a>
            </nav>
          </div>
        </div>
      </div>
      
        
     
    </div>
  </footer>